{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}News App{% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    <link rel="stylesheet" href="{% static 'slider.css' %}">
    <script type='text/javascript' src='//pl25967506.effectiveratecpm.com/6a/5b/c9/6a5bc964c2bda340ad8b26c57f8e5024.js'></script>
</head>

<body>
    <div class="wrapper">
        {% cache 20 header %}
        {% include 'inc/_header.html' %}
        {% endcache %}
<script type="text/javascript">
	atOptions = {
		'key' : 'ef2f092bf5f410f4189a6d6b578f2726',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/ef2f092bf5f410f4189a6d6b578f2726/invoke.js"></script>
        {% block content %} {% endblock %}
        <script async="async" data-cfasync="false" src="//pl25967727.effectiveratecpm.com/57c0e3a0e8f459bb1df2887b9f36db33/invoke.js"></script>
        <div id="container-57c0e3a0e8f459bb1df2887b9f36db33"></div>
        {% cache 20 footer %}
        {% include 'inc/_footer.html' %}
        {% endcache %}
    </div>
     <script type='text/javascript' src='//pl25967506.effectiveratecpm.com/6a/5b/c9/6a5bc964c2bda340ad8b26c57f8e5024.js'></script>
    <script async="async" data-cfasync="false" src="//pl25967727.effectiveratecpm.com/57c0e3a0e8f459bb1df2887b9f36db33/invoke.js"></script>
    <div id="container-57c0e3a0e8f459bb1df2887b9f36db33"></div>
    <script src="{% static 'js/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/active.js'%}"></script>
    <script src="{% static 'js/slider.js'%}"></script>
    <script src="{% static 'js/comment.js'%}"></script>
</body>

</html>